body {
  font-family: sans-serif;
  font-size: 14pt;
}

button {
  background-color: blue;
  border-radius: 10px;
  color: white;
  font-size: 18pt;
}

header {
  margin-bottom: 30px;
}

header > div {
  display: inline-block;
  vertical-align: top;
}

header img {
  height: 300px;
}

header .title {
  font-family: cursive;
  font-size: 36pt;
  line-height: 44pt;
  margin-bottom: 20px;
  text-align: center;
}

nav {
  float: left;
  border: solid blue 1px;
  border-radius: 10px;
  padding: 10px;
}

nav .heading {
  background-color: blue;
  border-radius: 10px;
  color: white;
  font-family: cursive;
  font-size: 24pt;
  margin: 10px 0;
  text-align: center;
}

nav > a {
  display: block;
}

section {
  float: left;
  margin-left: 10px;
}

section button {
  margin: 0 auto 10px auto;
}

section .content {
  padding: 0 10px;
}

section .heading {
  background-color: yellow;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: cursive;
  font-size: 24pt;
  text-align: center;
}

section > div {
  border: solid blue 1px;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
  /*padding: 10px;*/
}

/* For react-bootstrap modals. */
.modal-container {
  position: relative;
}
.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}
